body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

.App-contents {
  display: flex;
  justify-content: space-between;
  overflow: visible;
}

.SubjectListPage .Pagination {
  text-align: center;
}

.SubjectListPage .Pagination span {
  cursor: pointer;
  font-size: 18px;
  padding: 0 5px;
}

.SubjectInput {
  padding-top: 24px;
}

.DailyPlanner {
  width: 600px;
}

.PlannerHeader {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 24px;
}

.PlannerHeader .theDay {
  margin: 0 15px;
}

.PlannerHeader .previousDay,
.PlannerHeader .nextDay {
  cursor: pointer;
  margin: 0;
}

.PlannerContent {
  display: flex;
}

.PlannerContent .PlannerContentArea {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.PlannerContent .TaskList {
  width: 400px;
}

.PlannerContent #TaskTimeTable {
  width: 180px;
}

.TaskList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.TaskListItem {
  display: flex;
}

.TaskItem {
  height: 32px;
  display: flex;
}

.TaskItem .Row {
  width: 100%;
}

.TaskItem .Row .ColTextVCenter,
.TaskItem .Row .ColTextVCenter,
.TaskItem .Row .ColTextVCenter {
  padding: 4px 11px;
}

.TaskItem .PopoverShowMore {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  left: 32px;
  top: 0;
}

.input-completed,
.TaskItem-btn {
  width: 10%;
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-todo {
  height: 100%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.input-todo input {
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
}

#TaskTimeTable {
  margin-left: 20px;
}

.TaskTimePopup {
  padding: 20px 0;
}

.TaskTimePopup .BtnClose {
  float: right;
}
